---
import Section from "./Section.astro";
---
<Section 
  title="Model 3" 
  subtitle="Starting ar $32.740"
  subtitle2="After Federal Tax Credit"
  color="black"> 

  <div slot="footer" class="flex justify-center [&>a]:mx-[12px]">
    <a class="border-[3px] rounded font-sm px-20 py-2 text-black border-[#dcdad9] bg-[#dcdad9]" href="#"> 
      Explore Inventory
    </a>
    <a class="border-[3px] border-[#2a2c32] rounded font-sm px-20 py-2 bg-[#2a2c32] text-white" href="#">
      Custom Order
    </a>
  </div>

  <img slot="background" src="model-3.avif" alt="Model 3" srcset="" class="h-full w-full object-cover object-center ">
</Section>