---
import Section from "./Section.astro";
---
<Section 
  title="Powerwall"
  color="black">

  <div slot="footer" class="flex justify-center [&>a]:mx-[12px]">
    <a class="border-[3px] border-white rounded font-sm px-20 py-2 bg-white text-black" href="#">
      Order Now
    </a>
    <a class="border-[3px] border-[#2a2c32] rounded font-sm px-20 py-2 bg-[#2a2c32] text-white" href="#">
      Learn More
    </a>
  </div>

  <img slot="background" src="powerwall.avif" alt="Model 3" srcset="" class=" h-full w-full object-cover object-center">
</Section>